<h1>Stupid Coaching</h1>

<div class="question-container">
  <p> <%= @question %> </p>
  <p class="who-is-talking">-You</p>
</div>

<br>

<div class="answer-container">
  <p class="coach-answer"> <%= @answer %> </p>
  <p class="who-is-talking">-Your Coach</p>
</div>

<p class="link"> <%= link_to "Ask a new question", ask_path  %> </p>
